@using ReversiMvcV2.Controllers
@model ReversiMvcV2.Models.Spel

@{
    ViewData["Title"] = "Play";

    string playerToken;
    using(GetClaimsPrincipal getter = new GetClaimsPrincipal())
    {
        playerToken = getter.GetUserId(this.User);
    };
}


<div>
    <hr />
</div>
<div>
<div class="PlayBoard">
    @for (var i = 0; i < 8; i++)
    {   
        @for (var ii = 0; ii < 8; ii++)
        {
            string id = i.ToString() + "_" + ii.ToString();
            <div class="Tile" id=@id></div>
        }
        
    }
    <button id="pass" class="disabled">Pass</button>
</div>

    @{
        string winUrl = Url.Action("Win", "Spel");
        string drawUrl = Url.Action("Draw", "Spel");
        string loseUrl = Url.Action("Lose", "Spel");

    }

    @section Scripts{

        <script>
            const gameToken = `@Model.ID`;
            console.log(gameToken);
            const playerToken = `@playerToken`;
            let win = function(){ fetch(`@winUrl`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                }
            }
            )}

            let draw = function(){ fetch(`@drawUrl`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                }
            }
            )}

            let lose = function(){ fetch(`@loseUrl`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                }
            }
            )}
            
            //lose = function (){}
            //})
                
        </script>

        <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/SignalR.js"></script>
        <script src="~/js/app.js"></script>
        <script>
            Game.init();
        </script>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>