html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.PlayBoard{
    display: inline-grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    background-color: burlywood;
    padding: 10px;
}

.Tile{
    background-color: brown;
    border: 1px solid black;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.Chip{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
}

.Black{
    background-color: black;
    border-color: white;
}

.White{
    background-color: white;
    border-color: black;
}

.Disabled{
    background-color: dimgray;
}

.Enabled{
    background-color: ButtonHighlight;
}

